$nav-background-color: #c2c0c1;
$accent-color:#fe1301;
$address-color: #980f05;

.site-header{
//Container for logo and address
.logo-address-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

//Container for logo
.site-branding{
    float: left;
}

//Wrapper for navigation
.main-navigation{

    display: flex;
    height: auto;
    background-color: $nav-background-color;

    a{
        color:black;
    }
} 

#site-navigation{
    height: 80px;
    
}
//Site Description located under logo
.site-description{
    font-size:19px;
    margin-top: 0px;
    margin-left: 83%;
}

//Logo image
.custom-logo-link img{
    width: 600px;
    margin-left: 56%;
    margin-top: 15px;
}
 
.menu-header-menu-container{
    width: 100%;
    padding-left: 6%;
    margin: auto;
}

 
 // each navigation item
.primary-nav li {
    padding: 5px;
    margin:0px 2%;
    justify-content: space-between;
} 


// each navigation item anchor17px
.primary-nav li a {
    color:black;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
    
   
} 

//Address located next to the logo
.nav-address{
    font-size: 22px;
    font-weight: 100;
    width: 350px;
    border-left: solid $address-color 4px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 10px;

    a {
        color:black;
        text-decoration: none;
      }
      
    a:visited {
        text-decoration: none;
      }
      
}


//Search box
#search{
    width: auto;
    margin: auto 70px 10px auto;
    height: 40px;
    padding-left: 30px
}
 

 input { 
    font-family: 'Font Awesome\ 5 Free';
    padding-right: 2px;
}

// .wrapper:before {
//     font-family: 'Font Awesome\ 5 Free';
//     font-weight: 900;
//     color: $address-color;
//     position: relative;
//     left: 20px;
//     content: "\f002";
// }




@media only screen  and (max-width: 500px) {
    
    .logo-address-container{
        flex-direction: column;

        .custom-logo-link img{
            width: auto;
            margin: 0px;
        }

        .site-description{
            font-size: 15px;
            margin-left: 19%;
        }

        .nav-address{
            display: none;
        }

       
    }

    .site-header input {
        display: none !important;
    }

    .wrapper:before{

        display:none;
    }
}

}


@media (max-width: 950px) {
    
    #cssmenu #menu-button   {
      padding: 33px !important;
      font-size:21px !important;
       
    }

   .site-header .nav-address{
       display:none !important;
   } 

}

#cssmenu > ul > li > a{
    display:flex;
    padding: 15px;
    font-size: 19px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 100 !important;
    color: black;
    transition-delay: 600ms;
    transition: 600ms;
    justify-content : space-around;
     
    span{ 
        padding-bottom: 5px;
    }
     
    &:hover{
        color: $accent-color;
        border-bottom: solid black 2px;
    }
}

#cssmenu > ul{
    display: flex;
    width: auto;
    justify-content: space-around;
    align-items: center;
}

.wrapper{
    padding-left: 40px;
    width:100%;
}
