body,html{
    margin:0;
    padding:0;
  }
  .site-wrapper{
    display:flex;
    flex-direction: column;
    width:100%;
    min-height: 100vh;
  }
  header{
    overflow:hidden;
  }
  footer{
    background-color: #413f40;
    overflow:hidden;
  }
  .body{
    flex-grow:1;
  }